.LeaderboardContainer {
    background-color: #666D79;
    width: 100%;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.Leaderboard {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1em;
}

.Leaderboard hr {
    width: 100%;
    margin: 0.6em auto 1.25em;
    background-color: #2A2E39;
}

.Leaderboard h1 {
    font-size: 1em;
    margin: 0;
    text-align: center;
}

.BoldRank {
    font-weight: 700;
    color: #76A3C4;
}

.Leaderboard ul {
    max-width: 100%;
    margin: 0;
}

.Leaderboard li {
    text-align: left;
    list-style-type: none;
    margin: 0.5em 0;
    padding-right: 0.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
}

.RulesButton {
    font-family: "Montserrat", sans-serif;
    font-size: 0.67em;
    border: 2px solid #186AA5;
    padding: 0.5em 2em;
    font-weight: 600;
    cursor: pointer;
    color: #C6D8E5;  
    background: rgb(0,0,0,0);
}