.wallet-adapter-modal .wallet-adapter-button {
    background-color: #404144;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 'Inter', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
}

.wallet-adapter-button {
    width: 25%;
    height: 60px;
    background-color: #294573;
    border: none;
    color: #E8EFF7;
    font-size: 0.67em;
    font-weight: 600;
    border-radius: 0;
    font-family: "Montserrat", sans-serif;
}

.wallet-adapter-button-trigger {
    justify-content: center !important;

}

