.Profile {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.ProfileMain {
  position:fixed;
  background: #76A3C4;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 24px;
}

.ProfileInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #293C5E;
  width: 100%;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding-bottom: 2em;
}

.ProfileInner > div {
  width: 50%;
  border-bottom: 2px solid #E8EFF7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ProfileInner p {
  padding: 0;
  margin: 2.5em 0 1em;
}

.ProfileInner > div > p:last-of-type {
  color: #76A3C4;
  font-size: 0.8em;
}

.ProfileInner > div > p:first-of-type {
  color: #C6D8E5;
  font-size: 0.8em;
}

.ProfileBlock {
  composes: Profile;
  display: block;
}

.ProfileNone {
  composes: Profile;
  display: none;
}

.Profile button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #E8EFF7;
  height: 1em;
  width: 1em;
  margin-left: 0.5em;
  margin-bottom: 1em;
}
.Profile button:hover {
  background-color: red;
}

.History {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
}

.HistoryEntry {
  color: #76A3C4;
  font-size: 0.8em;
  border-bottom: 1px dashed #73A1C2;
  padding-bottom: 0.33em;
}